.closedCell {
    background-color: grey;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
}

.openedCell {
    background-color: white;
    border: 2px solid black;
    height: 40px;
    width: 40px;
    color: black;
    text-align: center;
}

.cellWithMine {
    background-color: red;
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.button {
    height: 40px;
    display: inline-block;
    border-radius: 10%;
    background-color: yellow;
    color: black;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 10px;
}