#drawButton {
    background-color: yellow;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
}

#resetButton {
    background-color: green;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

#myInput {
    width: 100px;
    height: 15px;
    margin-bottom: 10px;

}