#slider {
    position: absolute;
    left: 50%;
    width: 300px;
    margin: auto;
    height: 300px;
    border: 10px black solid;
    overflow: hidden;
}

#item {
    width: 1200px;
    transition: all ease 1s;
    display: flex;
}

#item img {
    width: 300px;
    height: 300px;
    left: 0;
    position: absolute;
    transition: 0.3s ease;
}

#slider .prev,
#slider .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    width: auto;
    display: inline-block;
    margin-top: -22px;
    padding: 16px;
    background-color: black;
    opacity: 30%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

#slider .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

#slider .prev:hover,
#slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.visible {
    display: block;
}

.notVisible {
    display: none;
}